.input-container {
  margin-bottom: 20px;
}

.keyboard {
  display: flex;
  gap: 2px;
  margin: 20px 0;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 5px;
  border: 1px solid #333;
  cursor: pointer;
}

.white {
  background: white;
  width: 40px;
  height: 150px;
}

.black {
  background: black;
  color: white;
  width: 30px;
  height: 100px;
  margin-left: -15px;
  margin-right: -15px;
}

.freq {
  font-size: 10px;
  margin-top: 5px;
}
