.show-knobs-container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  
    background: #1a1a1a; /* optional dark background */
  }
  