
@font-face {
  font-family: 'Google Sans Flex';
  src: url('./assets/fonts/GoogleSansFlex_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


:root {
  font-family: system-ui, "Work Sans", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e0e0;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: 0.4em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: 0.25em;
}

a {
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  color: inherit;
  line-height: 1.6;
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 0.25em;
}


