
@font-face {
  font-family: 'Google Sans Flex';
  src: url('./assets/fonts/GoogleSansFlex_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* recommended */
}

@font-face {
  font-family: 'Home Video';
  src: url('./assets/fonts/HomeVideo-BLG6G.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* recommended */
}

:root {
  font-family: system-ui, "Work Sans", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e0e0;
  background-color: #202020;

  --color-digital-primary: rgb(21, 72, 73);
  --color-digital-background: rgba(68, 238, 241, 0.732);
  --color-digital-light: #abcccff1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: 0.4em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: 0.25em;
  padding-bottom: 6px;
}

h3 {
 text-decoration: none;
  color: inherit;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 0.25em;
}

a {
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  color: inherit;
  line-height: 1.6;
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 0.25em;
}



.noiseverywhere {
  position: relative;
  min-height: 100vh;
  width: 100%;
  isolation: isolate;
}

.noiseverywhere::before {
  content: '';
  position: fixed;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.59' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.27'/%3E%3C/svg%3E");
  pointer-events: none;
  opacity: 0.35;
  mix-blend-mode: screen;
  z-index: 10;
}


