.indicatorlight {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12px;
  background: #2f1f05;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease;
}

.indicatorlight.on {
  background: #ffbb00;
  box-shadow:
    0 0 10px rgba(255, 149, 50, 0.6),
    0 0 20px rgba(255, 152, 50, 0.4),
    inset 0 0 10px rgba(255, 178, 110, 0.7);
}
