  
  .numbers{
    align-items: stretch;
  }
  
  .tick-track {
    width: 60px;
    height: 180px;
  }
  
  .ticks {
    display: flex;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    color: #d6d6d6;
    font-size: 12px;
   
  }
  
  .tick-number {
    text-align: left;
  }
  
  .tick-row {
    display: flex;
    justify-content: flex-end;
   
  }
  
  .tick-line {
    width: 12px;
    height: 2px;
    background: #d6d6d6;
    border-radius: 1px;
  }  
  
  /* Even */
.tick-row:nth-child(even) .tick-line {
    width: 15px;
  }
  
  /* Odd */
  .tick-row:nth-child(odd) .tick-line {
    width: 10px;
  }
  

.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36px;
    user-select: none;
    font-family: sans-serif;
  }
  
  .numbers {
    color: #d6d6d6;
    font-size: 12px;
    margin: 4px 0;
  }
  .slider-track {
    width: 30px;
    height: 180px;
    background: #2f2f2f;
    border-radius: 6px;
    border: 1px solid #444;
    position: relative;
    box-shadow: inset 0 0 4px #000;
  }
  
  .slider-track::before {
    /* thin inner slot */
    content: "";
    position: absolute;
    left: 50%;
    top: 6px;
    width: 3px;
    height: calc(100% - 12px);
    transform: translateX(-50%);
    background: #000;
    border-radius: 2px;
  }

  .slider-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 12px;
    background: #555;              /* gray body */
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-bar::after {
    content: "";
    width: 80%;
    height: 2px;
    background: linear-gradient(
        to right,
        #ffb000,
        #ffe08a,
        #ffb000
    );

    box-shadow: 0 0 8px rgba(255, 214, 102, 0.9);
    border-radius: 1px;
  }
  